# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Streamlit
.streamlit/

# Model & cache
.cache/
torch/
pyannote/

# Outputs
storage/
clips/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
